.error 
    background-color: white
    height: auto

    .error__title 
        color: #FF6060
        font-family: "montserrat"
      
    .error__title--size 
        font-size: 290px
        font-weight: 700
        margin: 200px
    
    .error__link 
        display: block
        color: black
        margin: 100px 0 50px 0