.header {
    background-color: white;
    margin: 50px 100px 50px 100px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    font-family: 'montserrat';
    font-weight: 500;
    color: black;
    margin-left: 20px;
}